<div class="container col-12">

    <div class="row">
        <% if @seat.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@seat.errors.count, "error") %> </h2>
            <ul>
                <% @seat.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %> 

    <div class="bordered">
                <% if @seats.present? %>
                            <h4>Seat(s) déjà créés :</h4>
                                  <td><%= @seats.map(&:number).join(', ') %></td>
                 <%else%>
                 <div class="alert alert-danger">
                    No seat, create it.
                </div>
                <% end %>
            </div>

        <div class="col-3 mt-5">
            <%= simple_form_for(@seat) do |f| %>
                        <div class="col-2.5">
                            <%=  f.label :number,content_tag(:strong, 'Seats number:') %>
                            <%=  f.text_field :number, class:"rounded-box"%>
                        </div>
                    <br><br>
                            <div class="submit">
                                <%=f.submit"Valider", class: "btn btn-primary"%>
                            </div>   
                        <br><br>
                        <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
             <%end%>










        </div>
    </div>
</div>
