<div class="container col-12">

    <div class="bordered">
      
        <% if @aircrafts.present? %>

                    <h4>Aircraft(s) déjà créés :</h4>
                         <%= @aircrafts.map { |aircraft| "#{aircraft.acft} #{aircraft.haul.name}" }.join(', ') %>
           <%else%>
                <div class="alert alert-danger">
                    No aircraft, create it.
                </div>
        <% end %>
    </div>

    

            <div class="int1">
            <h1>Create Aircraft Type</h1>
            </div>

            <div class="row">
                <div class="col-4 mt-5">
                    <%= simple_form_for(@aircraft) do |f| %>
                        <div class="col-2.5">
                            <%=  f.label :acft,content_tag(:strong, 'Aircraft type:') %>
                            <%=  f.text_field :acft, class:"rounded-box"%>
                        </div>
                        <br><br>
                        <div class="col-2.5">
                            <%= f.label :haul_id, content_tag(:strong, 'Aircraft  haul:') %>
        <%= f.collection_select :haul_id, @hauls, :id, :name, { prompt: 'Select Haul' }, class: "rounded-box" %>
                        </div>
                        <br>
                        
                        <br><br>
                        <div class="submit">
                            <%=f.submit"Valider", class: "btn btn-primary"%>
                        </div>   
                        <br><br>
                        <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
                    <%end%>
                        <% if @aircraft.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@aircraft.errors.count, "error") %> </h2>
                                <ul>
                                    <% @aircraft.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>

                </div>
            </div>
</div>