<div class="container col-12 mt-50">

    <h1>Flights</h1>
      <div class="search">  
          <%= search_form_for @q do |form| %>
               <div class="row">
                    <div class="form-group search-field col">
                      <%= form.label :airline_code_code_cont, "Code compagnie?" %>
                      <%= form.search_field :airline_code_code_cont, class: "form-control custom-width", style: "width: 95px;" %>
                    </div>
                    <div class="form-group search-field col">
                      <%= form.label :aircraft_acft_cont, "Aircraft type?" %>
                      <%= form.search_field :aircraft_acft_eq, class: "form-control custom-width", style: "width: 95px;" %>
                    </div>
                      <div class="form-group search-field col">
                        <%= form.label :departure_station_name_cont, "Departure station?" %>
                        <%= form.search_field :departure_station_name_eq, class: "form-control custom-width", style: "width: 95px;" %>
                      </div>
                      <div class="form-group search-field col">
                        <%= form.label :arrival_station_name_eq, "Arrival station?" %>
                        <%= form.search_field :arrival_station_name_eq, class: "form-control custom-width", style: "width: 95px;" %>
                      </div>  
                 </div>
               <br><br>
                    <div class="form-group">
                      <%= form.submit class: "btn btn-primary btn-sm" %>
                    </div>
            <% end %>
       </div>
    

      <div class="index row col-12" style="margin-top: 50px;">
         <table class="table table-bordered" style= "width:1500PX; border: 4px solid black;">
           
             <thead>
                 <tr>
                    <th class="text-center code">Code</th>
                    <th class="text-center">Flgt nbr</th>
                    <th class="text-center">Registration</th>
                    <th class="text-center">Acft type</th>
                    <th class="text-center">Network</th>
                    <th class="text-center">Cabin</th>
                    <th class="text-center">Seats</th>
                    <th class="text-center">Dpt st</th>
                    <th class="text-center">Arrvl st</th>
                     <th class="text-center">Dpt dte</th>
                     <th class="text-center">Arrvl dte</th>
                 </tr>
             </thead>
 
                 <tbody class="search">
                     <%  @flights.each do |flight| %>
                        <tr>
                            <td class="text-center"><%= flight.airline_code.code %></td>
                            <td class="text-center"><%= flight.flight_number %></td>
                            <td class="text-center"><%= flight.registration.reg %></td>
                            <td class="text-center"><%= flight.aircraft.acft %></td>
                            <td class="text-center"><%= flight.haul.name %></td>
                            <td class="text-center"><%= flight.cabin.cbn %></td>
                            <td class="text-center"><%= flight.seat.number %></td>
                            <td class="text-center"><%= flight.departure_station.name %></td>
                            <td class="text-center"><%= flight.arrival_station.name %></td>
                            <td class="text-center"><%= l(flight.departure_date, format: :default) %></td>
                            <td class="text-center arrival-date"><%= l(flight.arrival_date, format: :default) %></td>
                         <td>
                             <%=link_to"Annuler", flight_path(flight),method: :delete, class: "btn btn-danger btn-margin"%>
                             <% unless flight.flight_number.to_i.odd? || unless flight.has_return_flight?%>
                                <td><%= link_to 'Return?', create_return_flight_path(flight), method: :post, class: "btn btn-danger btn-margin", data: { confirm: 'Êtes-vous sûr de vouloir créer un vol retour pour ce vol ?' } %></td>
                                 <% end %>  <% end %>
                         </td>
                       </tr>
                    <% end %>
                    
                 </tbody>
 
         </table>
        </div>

         <br>

        <div class="link">
          <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
          <span><%=link_to"Flight list", flights_path, class: "btn btn-danger btn-margin"%></span>
        </div>
   

</div>
