<div class="container col-12 mt-10">

    

    <div class="row col-8">
         <table class="table ">
           
             <thead>
                 <tr>
                    <th class="text-center">Airline_code</th>
                    <th class="text-center">Flight number</th>
                    <th class="text-center">Registration</th>
                    <th class="text-center">Acft type</th>
                    <th class="text-center">Network</th>
                    <th class="text-center">Cabin</th>
                    <th class="text-center">Seats</th>
                    <th class="text-center">Departure station</th>
                    <th class="text-center">Arrival station</th>
                 </tr>
             </thead>
 
                 <tbody>
                     <%  @flights.each do |flight| %>
                        <tr>
                            <td class="text-center"><%= flight.airline_code %></td>
                            <td class="text-center"><%= flight.flight_number %></td>
                            <td class="text-center"><%= flight.registration.reg %></td>
                            <td class="text-center"><%= flight.aircraft.acft %></td>
                            <td class="text-center"><%= flight.haul.name %></td>
                            <td class="text-center"><%= flight.cabin.cbn %></td>
                            <td class="text-center"><%= flight.seat.number %></td>
                            <td class="text-center"><%= flight.departure_station.name %></td>
                            <td class="text-center"><%= flight.arrival_station.name %></td>
                         <td>
                             <%=link_to"Annuler aircraft", flight_path(flight),method: :delete, class: "btn btn-danger btn-margin"%>
                             
                         </td>
                       </tr>
                    <% end %>
                    
                 </tbody>
 
         </table>
 
         <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
 
