<div class="container col-12 mt-10">

    

    <div class="row col-8">
         <table class="table ">
           
             <thead>
                 <tr>
                    <th>Registration</th>
                    <th>Acft type</th>
                    <th>Network</th>
                    <th>Cabin</th>
                    <th>Seats </th>
                 </tr>
             </thead>
 
                 <tbody>
                     <%  @flights.each do |flight| %>
                        <tr>
                         <td><%= flight.registration.reg %></td>
                         <td><%= flight.aircraft.acft %></td>
                         <td><%= flight.haul.name %></td>
                         <td><%= flight.cabin.cbn %></td>
                         <td><%= flight.seat.number %></td>

                         <td>
                             <%=link_to"Annuler aircraft", flight_path(flight),method: :delete, class: "btn btn-danger btn-margin"%>
                             
                         </td>
                       </tr>
                    <% end %>
                    
                 </tbody>
 
         </table>
 
         <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
 
