<div class="container mt-10">  
    <div class="row">  
            <p><strong>Airline code:</strong> <%= @flight.airline_code %></p>
            <p><strong>flight_number:</strong> <%= @flight.flight_number %></p>
            <p><strong>Registration:</strong> <%= @flight.registration.reg %></p>
            <p><strong>Aircraft type:</strong> <%= @flight.aircraft.acft %></p>
            <p><strong>Haul network:</strong> <%= @flight.haul.name %></p>
            <p><strong>Cabins letter:</strong> <%= @flight.cabin.cbn%></p>
            <p><strong>Seats number:</strong> <%= @flight.seat.number%></p>
            <p><strong>Departure station:</strong> <%= @flight.departure_station.name%></p>
            <p><strong>Arrival station:</strong> <%= @flight.arrival_station.name%></p>

            <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
    </div>
</div>