<div class="container col-12">
                <div class="bordered">
                            
                    <% if @cabins.present? %>

                                <h4>Cabin(s) déjà créés :</h4>
                                    <td><%= @cabins.map(&:cbn).join(', ') %></td>
                    <%else%>
                            <div class="alert alert-danger">
                                No cabin code, create it.
                            </div>
                    <% end %>
                </div>
                 <div>
                       <% if @cabin.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(@cabin.errors.count, "error") %> </h2>
                                <ul>
                                    <% @cabin.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                 </div>   
        <div class="int1">
            <h1>Create Aircraft Cabin code</h1>
        </div>
         <div class="row">
               <div class="col-3 mt-5">
                <%= simple_form_for(@cabin) do |f| %>
                    <div class="col-2.5">
                        <%=  f.label :cbn,content_tag(:strong, 'Cabin code:') %>
                        <%=  f.text_field :cbn, class:"rounded-box"%>
                    </div>
                    <br><br>
                        <div class="submit">
                            <%=f.submit"Valider", class: "btn btn-primary"%>
                        </div>   
                        <br><br>
                        <span><%=link_to"Home",pages_operations_path,class: "btn btn-primary" %></span> 
                <%end%>
         </div>






     

</div>