
<div class="container">
    



        <h1 class="titre">Customers for Flight <%= @flight.flight_number %></h1>

        <table class="table customers">
        <thead>
            <tr>
            <th>Name</th>
            <th>First Name</th>
            <th>Annuler</th>
            </tr>
        </thead>
        <tbody>
            <% @customers.each do |customer| %>
            <tr>
                <td><%= customer.name %></td>
                <td><%= customer.first_name %></td>
                <td>
                    <%=link_to"Annuler", customer_path(customer),method: :delete,class: "btn btn-danger btn-margin"%>
                </td>
             
            </tr>
           
            <% end %>
        </tbody>
        </table>

        <%= link_to 'Back to Manage bookings', customers_list_path, class: 'btn btn-primary' %>

    </div>