 <body>
        <div class="container ">
        
            <div class="map" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                <div id='map' style='width: 1000px; height: 900px; margin: auto;'></div>
            </div>

            <script>
                mapboxgl.accessToken = "pk.eyJ1IjoicG5nYXV0aGllciIsImEiOiJjbHFncjBjMG0xZGNlMm1ubWV2aXU1NnpmIn0.x06uuDfCgcRIZtJNmrF7Bg";
                const coordinates = [2.549324, 49.008468];
                const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: coordinates,
                    zoom: 2
                });

                map.on('load', function() {
                    // Itérer sur chaque station et ajouter un marqueur
                    <% @stations_coordinates.each do |coordinates| %>
                        <% if coordinates %>
                            new mapboxgl.Marker({
                                scale: 0.6,
                                color: '#fc0339'
                            })
                            .setLngLat([<%= coordinates[0] %>, <%= coordinates[1] %>])
                            .addTo(map);
                        <% end %>
                    <% end %>

                    // Tracer les lignes entre les stations de départ et d'arrivée pour chaque vol
                    //console.log("Flight Paths:", <%= @flight_paths.to_json.html_safe %>);
                    <% @flight_paths.each do |path| %>
                        console.log("Tracing flight path for flight ID:", <%= path[:id] %>);
                        console.log("Coordinates:", <%= path[:coordinates].to_json %>);
                        map.addLayer({
                            id: 'route<%= path[:id] %>', // Utiliser l'ID du vol pour créer un ID de couche unique
                            type: 'line',
                            source: {
                                type: 'geojson',
                                data: {
                                    type: 'Feature',
                                    properties: {},
                                    geometry: {
                                        type: 'LineString',
                                        coordinates: <%= path[:coordinates].to_json %>
                                    }
                                }
                            },
                            layout: {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            paint: {
                                    'line-color': '#888',
                                    'line-width': 4,
                                    // Ici, nous définissons le motif de pointillé : [longueur du segment, longueur de l'espace]
                                    'line-dasharray': [1, 2] // 
                            }
                        });
                    <% end %>
                });
        </script>
        <span style ="position: absolute; top: 50%; left: 0; transform: translateY(-50%); margin-left: 150px;" ><%=link_to"HOME",root_path,class: "btn btn-primary" %></span> 
        </div>

</body> 