<body class="custom-background">
        <div class="container text-center">
              <div class="row my4 " >
                        <div class="col">
                            <p class="airplus">AIR PLUS</p>
                        </div>
               </div>  
            
            <div class="row my-4 align-items-center justify-content-center">

                <div class="col-md-5">      
                            <%= link_to image_tag("B777.jpeg", class: "img-fluid larger-image"), pages_operations_path %>
                </div>

                 <div class="col-md-5">
                            <div id='map' style='width: 600px; height: 500px; margin: auto;'></div>
                           </div>
                 </div>  
               
               
            
            </div>
            
                <script>
                    mapboxgl.accessToken = "pk.eyJ1IjoicG5nYXV0aGllciIsImEiOiJjbHFncjBjMG0xZGNlMm1ubWV2aXU1NnpmIn0.x06uuDfCgcRIZtJNmrF7Bg";
                    
                    // Définir les coordonnées une seule fois
                    const coordinates = [2.549324, 49.008468];
                    //longitude puis latitude.
                
                    // Créer la carte
                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v12',
                        center: coordinates,
                        zoom: 2
                    });
                    //-DEBUT V1
                    // Ajouter un marqueur
                    //new mapboxgl.Marker({
                       // scale: 0.6,
                        //color: '#fc0339'
                    //})
                    //.setLngLat(coordinates)
                    //.addTo(map);
                    // -fin V1
                    // Itérer sur chaque station et ajouter un marqueur
                <% @stations_coordinates.each do |coordinates| %>
    <% if coordinates %>
      new mapboxgl.Marker({
        scale: 0.6,
        color: '#fc0339'
      })
      .setLngLat([<%= coordinates[0] %>, <%= coordinates[1] %>])
      .addTo(map);
    <% end %>
  <% end %>

  // Tracer les lignes entre les stations de départ et d'arrivée pour chaque vol
  <% @flight_paths.each do |path| %>
    map.addLayer({
      id: 'route<%= path[:id] %>', // Assurez-vous que chaque id de couche est unique
      type: 'line',
      source: {
        type: 'geojson',
        data: {
          type: 'Feature',
          properties: {},
          geometry: {
            type: 'LineString',
            coordinates: <%= path[:coordinates].to_json %>
          }
        }
      },
      layout: {
        'line-join': 'round',
        'line-cap': 'round'
      },
      paint: {
        'line-color': '#007cbf', // Couleur de la ligne
        'line-width': 3
      }
    });
  <% end %>
                </script>
           
        </div> 
</body>