<body class="custom-background">
    <div class="container text-center">
        <div class="row my-4">
            <div class="col">
                <p class="airplus">AIR PLUS - OPERATIONS</p>
            </div>
        </div>

        <div class="row my-4 align-items-center justify-content-center">
            <div class="col-md-5">
                <%= link_to image_tag("B777.jpeg", alt: "B777", class: "img-fluid larger-image"), pages_operations_path %>
            </div>

            <div class="col-md-5">
                <div id='map' style='width: 600px; height: 500px; margin: auto;'></div>
            </div>
        </div>
    </div>

    <div class="map">
        <script>
            document.addEventListener("turbolinks:load", function() {
                mapboxgl.accessToken = 'pk.eyJ1IjoicG5nYXV0aGllciIsImEiOiJjbHFncjBjMG0xZGNlMm1ubWV2aXU1NnpmIn0.x06uuDfCgcRIZtJNmrF7Bg';
                var coordinates = [2.549324, 49.008468];
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: coordinates,
                    zoom: 2
                });

                map.on('load', function() {
                    <% @stations_coordinates.each do |coordinates| %>
                        new mapboxgl.Marker({
                            scale: 0.6,
                            color: '#fc0339'
                        })
                        .setLngLat([<%= coordinates[0] %>, <%= coordinates[1] %>])
                        .addTo(map);
                    <% end %>

                    <% @flight_paths.each do |path| %>
                        map.addLayer({
                            id: 'route<%= path[:id] %>',
                            type: 'line',
                            source: {
                                type: 'geojson',
                                data: {
                                    type: 'Feature',
                                    properties: {},
                                    geometry: {
                                        type: 'LineString',
                                        coordinates: <%= path[:coordinates].to_json %>
                                    }
                                }
                            },
                            layout: {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            paint: {
                                'line-color': '#888',
                                'line-width': 4,
                                'line-dasharray': [1, 2]
                            }
                        });
                    <% end %>
                });
            });
        </script>
        <br>

        <div class="bigmap">
            <span><%= link_to "BIG MAP?", pages_bigmap_path, class: "btn btn-primary" %></span>
        </div>
        
    </div>
</body>

